@{
    ViewBag.Title = "DisplayMatrix";
}

<h2>Display Matrix</h2>
<table>
<tr><td></td>
@for (int i = 0; i < ViewBag.matrix.Length / 2; ++i)
{
	<td><b>@i</b></td>
}
</tr>
@for (int i=0; i<ViewBag.matrix.Length / 2; ++i)
{
	<tr>
	<td><b>@i</b></td>
	@for (int j = 0; j < ViewBag.matrix.Length / 2; ++j)
 {
		<td>@ViewBag.matrix[i,j]</td>
 }
	</tr>
}
</table>

@Html.ActionLink("Next", "Settings")