@model IEnumerable<PipSep.Models.Page>

@{
    ViewBag.Title = "News";
}

@foreach (var item in Model)
{
	<article>
		<h1>@item.Title</h1>
		<time datetime="@item.DateCreated.ToString()" pubdate="pubdate" >@item.DateCreated.ToShortDateString()</time>
		@Html.Raw(item.Content)
	</article>
}

<style>
	time{
		margin-bottom:20px;
	}
	article
	{
	    margin-bottom:30px;
	}
</style>