@model IEnumerable<PipSep.Models.ApplicationCV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Accepted
        </th>
        <th>
            Editor
        </th>
		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr class=" @if (item.HasBeenVerified) { @:input-validation-ok
				}
				@if (item.HasBeenFlagged) { @:input-validation-flag
				} ">
        <td >
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhoConfirmedIt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editor", new { id=item.Id })
        </td>
    </tr>
}

</table>

<h3>Legend</h3>
<ul>
	<li><span class="input-validation-flag">Has been flagged</span></li>
	<li><span class="input-validation-ok">Has been verified</span></li>
</ul>

<style type="text/css">
h3{
	margin-top:30px;
}
table{
	text-align: center;
}
</style>